html,
body,
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%\;
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
<style
.header {
display: flex;
justify-content: space-evenly;
align-items: flex-start;
text-align: center;
flex-wrap: wrap;
background-color: black;
width: 100%;
height:6rem;
position:fixed;
z-index: 5;
}
.items{
padding-top: 3rem;
font-size: 2rem;
color: purple;
}
.australia{
background-image: url(https://www.hdwallpapers.in/download/australia_brisbane_gold_coast_ocean_during_sunrise_hd_travel-HD.jpgg);
height: 33rem;
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: flex-start;
text-align: center;
flex-wrap: wrap;
font-size: 6rem;
padding-top: 20rem;
color: purple;
}
.parental{

display: flex;
justify-content: space-evenly;
align-items: flex-start;
text-align: center;
flex-wrap: wrap;
color:white;
padding-top: 3rem;
}
.children{
width: 33rem;
height: 25rem;
border: 2px solid purple;
text-align: center;
background-color: black;
box-shadow: 4px 4px 8px;
margin-bottom: 3em;

}



.paragraph{
border: 3px solid purple;
margin: 7px 7px 7px 7px;
font-size: 1rem;

}
.images{
width: 75%;
height: 50%;
padding-top: 3rem;
}
.bottom-1,.bottom-2,.bottom-3{
padding-top: 5rem;
height: 3.5rem;
width: 3.5rem;

}
.bottom-3:hover{
transform: scale(1.5);
opacity: 0.7;
}
.bottom-2:hover{
transform: scale(1.5);
opacity: 0.7;
}
.bottom-1:hover{
transform: scale(1.5);
opacity: 0.7;
}

.footer{
background-color: black;
display: flex;
justify-content: space-evenly;
align-items: flex-start;
text-align: center;
flex-wrap: wrap;

height: 15rem;
}
.attractions{
display: flex;
justify-content: space-evenly;
align-items: flex-start;
text-align: center;
flex-wrap: wrap;

}
.ones{
width: 25rem;
height: 30rem;
border: 3px solid black;
text-align: center;
background-color: purple;
box-shadow: 4px 4px 8px;
margin-bottom: 3em;
font-size: 1rem;
}
.pics{
height: 50%;
width: 80%;

}
.attractions:hover .ones:not(:hover){
opacity: 0.3;
transform: scale(0.7);
transition: all 0.3s ease-in;
}
